[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/haskell.vim"]
	path = bundle/haskell.vim
	url = https://github.com/vim-scripts/haskell.vim.git
[submodule "bundle/shim"]
	path = bundle/shim
	url = https://github.com/vim-scripts/Superior-Haskell-Interaction-Mode-SHIM.git
[submodule "bundle/cabal"]
	path = bundle/cabal
	url = https://github.com/vim-scripts/Cabal.vim.git
